body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow: auto;
}

html {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.center-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: calc(100% - 1rem);
    border-radius: .25rem;
    border: 1px solid #ced4da;
    padding: .75rem;
    max-height: 90%;
    overflow: auto;
}