<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Vector | Dashboard</title>
  </head>

  <body>
    <div class="container py-5">
      <% if (shops.length > 0) { %>
      <h1 class="mb-4">Welcome back!</h1>
      <div class="border rounded">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
            </tr>
          </thead>

          <tbody>
            <% for( let i = 0; i < shops.length; i++ ) { %>
            <tr onclick="window.location='http://localhost:3000/<%= shops[i].handle %>'">
              <th scope="row"><%= i+1 %></th>
              <td><b><%= shops[i].title %></b></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="mt-3">
        <a href="/create" class="btn btn-primary">Create Shop</a>
      </div>
      <% } else { %>
        <h1 class="mb-4">Welcome to Vector!</h1>
        <div class="border rounded p-3">
            <h4>You don't have any shops yet</h4>
            <p>
                To get started with Vector, you need to create a shop. 
                No worries though, in just a minute you can have your first shop up and <b>running</b>!
            </p>
            <a href="/create" class="btn btn-primary">Create Shop</a>
        </div>
      <% } %>
    </div>

    <%- include('../templates/footer.ejs') %>
