<%- include('../templates/header.ejs') %>
<div class="bg-dark text-light py-4 py-lg-5">
  <div class="container">
    <h1 class="mb-3">Create your online platform for free. Now and always.</h1>
    With Vector you can create whatever your heart desires.
    <span class="fw-bold">E-Commerce</span> has never been that
    <span class="fw-bold">easy</span>.<br />
    Your <span class="fw-bold">blog or magazine</span> can finally take off and
    reach new audiences.
  </div>
</div>

<div class="container py-3">
  <h3 class="mb-3">
    <b>Powerful Analytics Tools</b> help you achieve maximum page performance
  </h3>
  <div class="fs-5">
    All of our tools are integrated in <b>Icarus</b>
    and make the use of external tools completely unnecessary
  </div>
</div>

<div class="container py-3">
  <h3 class="mb-3">
    A different approach
  </h3>
  <div class="fs-5">
    Spend less time struggling to come up with a design and more time thinking
    about <b>content</b> (a.k.a. what people actually care about). With Vector, you get a
    <b>beautiful design</b> and <b>fast loading speeds</b> out of the box. Meet <b>Styx</b>.
  </div>
</div>

<%- include('../templates/footer.ejs') %>
