<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Vector | Login</title>
</head>
<body>
    <form class="center-form">
        <div class="row g-3">
            <div class="col-12">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="col-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="col-12 d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary">
                    Login
                </button>
                <a href="/forgot">Forgot Password?</a>
            </div>
            <div class="col-12">
                New to Vector? <a href="/signup">Get Started</a>
            </div>
        </div>
    </form>
</body>
</html>